header {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 40px;

  nav {
    width: 100%;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    line-height: 1;
    position: fixed;
    overflow: visible;
    z-index: 9999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=19, Direction=0, Color=#2E2E2E)";
    /*IE 8*/
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=19, Direction=135, Color=#2E2E2E);
    /*IE 5.5-7*/ }
  nav,
  nav ul,
  nav ul li,
  nav ul li a,
  nav #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    box-sizing: border-box;
  }
  nav:after,
  nav > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  nav#menu-button {
    display: none; }
  nav.show-nav {
    -webkit-transform: translate(260px, 0px);
    transform: translate(260px, 0px); }
  nav.small-screen {
    width: 100%; }
  nav.small-screen > ul,
  nav.small-screen.align-center > ul {
    width: 100%;
    text-align: left; }
  nav.small-screen > ul > li, nav.small-screen.align-center {
    float: none;
    display: block;
    border-top: 1px solid rgba(100, 100, 100, 0.1); }
  nav.small-screen > ul > li:hover > a,
  nav.small-screen > ul > li > a:hover {
    color: #dff2fa;
    -webkit-transform: none;
    transform: none;
    -ms-transform: none; }
  nav.small-screen > ul > li > a::before {
    display: none; }
  nav.small-screen #menu-button {
    display: block;
    padding: 16px 20px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #000000; }
  nav.small-screen #menu-button:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 17px;
    display: block;
    box-sizing: content-box;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    width: 22px;
    height: 3px; }
  nav.small-screen #menu-button.menu-opened:after {
    border-top: 2px solid #dff2fa;
    border-bottom: 2px solid #dff2fa; }
  nav.small-screen #menu-button:before {
    content: "";
    position: absolute;
    right: 20px;
    top: 27px;
    display: block;
    width: 22px;
    height: 2px;
    background: #ffffff; }
  nav.small-screen #menu-button.menu-opened:before {
    background: #000000; }
  div#menu.show-nav {
    position: fixed;
    top: 400px;
    bottom: 0;
    width: 250px;
    left: 0px;
    height: 100%;
    display: block;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=33, Direction=0, Color=#2E2E2E)";
    /*IE 8*/
    /*FF 3.5+*/
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 0 33px -14px #2E2E2E inset;
    }
  div#menu ul {
    list-style: none;
    background-color: rgba(30, 50, 98, 0.3);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=33, Direction=0, Color=#2E2E2E)";
    /*IE 8*/
    /*FF 3.5+*/
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 0 33px -14px #2E2E2E inset;
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=33, Direction=135, Color=#2E2E2E);
    /*IE 5.5-7*/ }
  div#menu ul.mobile-nav ul.sub-menu {
    text-transform: uppercase; }
  div#menu ul.mobile-nav li {
    width: 100%;
    border-top: 1px solid #1f3460; }
  div#menu ul.mobile-nav li a {
    display: block;
    color: #FFFFFF;
    border-top: 1px solid #4F7389;
    padding: 18px 25px 21px 25px;
    border-right: 1px solid rgba(80, 80, 80, 0.12);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px; }
  div#menu ul.mobile-nav li a:before {
    padding: 20px 20px; }
  div#menu ul.mobile-nav li a:hover {
    background: #000000;
    color: #FFFFFF; }
  div#menu ul.mobile-nav li a i {
    padding-right: 5px; }
  nav ul.off-canvas {
    display: none; }
  nav ul {
    list-style: none;
    background: #000000; }
  nav ul li {
    display: inline-block;
    float: left;
    -webkit-perspective: 1000px;
    perspective: 1000px; }
  nav ul li:hover a,
  nav ul li a:hover {
    color: #dff2fa;
    -webkit-transform: rotateX(90deg) translateY(-23px);
    transform: rotateX(90deg) translateY(-23px);
    -ms-transform: none; }
  nav ul li:hover > a:before,
  nav ul li > a:hover:before {
    background: #bf9941; }
  nav ul li.active a {
    color: #3f3f3f; }
  nav ul li a {
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    background: #000000;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  nav ul li a:before {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 7px;
    z-index: -1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px 8px;
    color: #FFFFFF;
    background: #bf9941;
    content: attr(data-title);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -ms-transform: translateY(18px); }
  nav ul li a img {
    padding: 10px;
  }
}