.hero{
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: 100%;
  height: 800px;
  padding: 0;
  margin-bottom: 0;
  //background:  url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif) no-repeat center center fixed;
  background: linear-gradient(
                  rgba(21, 22, 255, 0.45),
                  rgba(31, 20, 255, 0.45)
  ),url(".././common/images/hero.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: 50% 0px;
  background-attachment: fixed;
  a.hero_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: transparent;
    border: none;
    text-align: center;
    :focus{
      outline: 0;
    }
  }
}
